{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">
    {{!-- <header>
        <div class="main_img">
            <button>
                <img src="/img/nav.svg">
            </button>
            <button>
                <img src="/img/foto.svg">
            </button>
        </div>
    </header>--}}

    {{!-- <h1 class="title">Мій блог</h1>--}}


    {{!-- <main>
        <div class="post button post--viewed">
            <div class="post_list">
                <div class="info">
                    <div class="post_category">
                        <span class="category--1">Важливо</span>
                        <span class="category--2">Нова</span>
                    </div>
                    <span class="post_date">25.01</span>
                </div>
                <p class="info_title">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
            </div>
        </div>
        <div class="post button post--viewed">
            <div class="post_list">
                <div class="info">
                    <div class="post_category">
                        <span class="category--1">Важливо</span>
                        <span class="category--2">Нова</span>
                    </div>
                    <span class="post_date">15.01</span>
                </div>
                <p class="info_title">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                    самопрезентацій.
                </p>
            </div>
        </div>
    </main>--}}
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}