.page {
display: flex;
flex-direction: column;
max-width: 440px;
padding: 40px;
gap: 30px;
}
header {
    display: flex;
    justify-content: space-between;
}
.change_list {
    display: flex;
flex-direction: column;
gap: 30px;
}
.main_img {
    display: flex;
    justify-content: space-between;
   
}
.title {
    font-size: 24px;
    font-weight: 700;
}
.change_info {
    display: flex;
    justify-content: space-between;
   
}
.text {
    color: #888888;
}
.change_title1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}
.info_title {
    font-size: 20px;
    font-weight: 600;
}
.info_text{
    font-size: 16px;
}
.info_button {
    padding: 10px;
   background-color: #F46F17;
   border-radius: 10px;
   color: white;
   width: 100%;
}
.button_change {
    display: flex;
    justify-content: space-between;
}